@media (min-width: 600px) {
  .list {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
  .list-item {
    align-self: center;
  }
}

@media (min-width: 1200px) {
  .list {
    max-width: 1600px;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
  }
}
