.stage {
    border-color: rgb(172, 172, 172);
    border-width: 1px;
    border-style: solid;
    border-radius: 1em;
    max-width: 1600px;
    margin: auto;
    min-height: 500px;
    padding: 1em;
    box-shadow: 0.2em 0.2em 0.1em 0.1em rgb(221, 221, 221);
}